@model ninja.Models.InvoiceViewModel

@{ 
        IEnumerable<SelectListItem> invoiceTypes = (IEnumerable<SelectListItem>)TempData["SelectListInvoiceTypes"];
}



<div class="form-row">
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.Type, invoiceTypes, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.PointOfSaleNumber, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.PointOfSaleNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PointOfSaleNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control dateinput" } })
            @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

